.pricing_text {
	font-size: 50px;
}

.price_title {
	text-transform: uppercase;
	font-family: "Bebas Neue", cursive;
	font-size: 20px;
	color: #fcd842;
}

.pricing_card {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 20px;
}

.plane_name {
	text-transform: uppercase;
	font-family: "Bebas Neue", cursive;
	font-size: 3rem;
}

.plane_price {
	font-family: "Bebas Neue", cursive;
	font-size: 6rem;
	color: #ebc327;
}

#pricing_ul_list ul {
	width: 200px;
	text-align: start;
	margin: 0 auto !important;
}

#pricing_ul_list ul li {
	list-style-type: none;
	margin: 0 auto;
	margin: 15px 0;
}

#pricing_ul_list ul li span {
	margin-right: 10px;
}

.purchase_btn button {
	border: none;
	border-radius: 0;
	color: #000;
	background-color: #fcd842;
	padding: 15px 60px;
	font-family: "Bebas Neue", cursive;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 500;
	border: 3px solid transparent;
	transition: 0.5s;
}

.purchase_btn button:hover {
	border: 3px solid #fcd842;
	background: transparent;
	color: #ffffff;
}
