.form-group {
	margin: 20px 0;
}
.form-control {
	border: 1px solid #f1cc34;
	background-color: #eedc952c;
}

.form_submit {
	border: none;
	background-color: #fcd842;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 700;
	border: 3px solid transparent;
	transition: 0.5s;
	margin-top: 20px;
}

.form_submit:hover {
	background-color: #fff;
	border: 3px solid #ebc327;
}
