.payment_form {
	width: 50%;
}

.payment_next {
	width: 90%;
	margin-top: 80px;
}

.disabled_btn {
	cursor: not-allowed !important;
	color: #ffffff;
	background-color: #888 !important;
}
.pay_btn {
	outline: none;
	border: none;
	font-weight: 600;
	font-size: 17px;
	background-color: #fcd842;
	padding: 10px 30px;
}

@media only screen and (max-width: 992px) {
	.payment_form {
		width: 80%;
	}
	.payment_next {
		width: 100%;
	}
}
